@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg--);
}

:root {
  --bg--: #0A0A0A;
  --primary-color: #0F172A;
  --secondary-color: #22D3EE;
  --assets--: #A78BFA;
  --text-color: #E5E7EB;
  --footer-bg: #111827;
}

/* input */


@media screen and (max-width: 1599px) {

  .all-x-p {
    padding: 0 5rem;
  }


}

@media screen and (max-width: 1200px) {

  .all-heading {
    font-size: 22px;
  }

  .all-icon {
    height: 30px;
  }

  .all-input {
    font-size: 16px;
  }

  .all-btn {
    font-size: 16px;
  }

  .all-image-box {
    height: 250px;
    width: 100%;
    overflow: hidden;
  }

  .display-gap {
    gap: 15px;
    margin-top: 30px;
  }

}

@media screen and (max-width: 768px) {

  .all-x-p {
    padding: 0 2rem;
  }

  .all-heading {
    font-size: 20px;
  }

  .all-icon {
    height: 25px;
  }

  .input-container {
    width: 100%;
    justify-content: space-between;
  }

  .input-container input {
    width: 70%;
  }

  .input-container button {
    width: 28%;
  }

  .all-input {
    font-size: 14px;
  }

  .all-btn {
    font-size: 14px;
  }

  .all-image-box {
    height: 250px;
    width: 100%;
    overflow: hidden;
  }

  .display-text {
    font-size: 12px;
    font-weight: normal;
  }

  .social-links ul {
    gap: 10px;
  }

  footer p {
    font-size: 10px;
  }

  .display-wrapper {
    width: 100%;
  }

  .display-gap {
    width: 100%;
  }

  .displayUser {
    width: 100%;
  }

}